<?php
$_helper    = $this->helper('webinseofflinestores/output');
$_offlineStore  = $this->getCurrentOfflineStore();
$_imgHtml   = '';
if ($_imgUrl = $_offlineStore->getImageUrl()) {
    $_imgHtml = '<p class="category-image"><img src="'.$_imgUrl.'" alt="'.$this->escapeHtml($_offlineStore->getName()).'" title="'.$this->escapeHtml($_offlineStore->getName()).'" /></p>';
    $_imgHtml = $_helper->categoryAttribute($_offlineStore, $_imgHtml, 'image');
}
?>
<div class="page-title category-title">
    <h1><?php echo $_helper->categoryAttribute($_offlineStore, $_offlineStore->getName(), 'name') ?></h1>
</div>

<?php echo $this->getMessagesBlock()->toHtml() ?>

<?php if($_imgUrl): ?>
    <?php echo $_imgHtml ?>
<?php endif; ?>

<?php if($_description=$this->getCurrentOfflineStore()->getDescription()): ?>
    <div class="category-description std">
        <?php echo $_helper->categoryAttribute($_offlineStore, $_description, 'description') ?>
    </div>
<?php endif; ?>

<?php $_sectionLabel = 'Address Information'; ?>
<div class="offlinestore-address-information">
    <h3><?php echo $_helper->__($_sectionLabel) ?></h3>
    <?php $_addressInformation = $this->getAddressInformation($_sectionLabel); ?>
    <?php if ($_addressInformation): ?>

            <?php foreach ($_addressInformation as $attribute): ?>
            <dl>
                <dt><?php echo $attribute['label'] ?></dt>
                <dd><?php echo $attribute['value']; ?></dd>
            </dl>
            <?php endforeach; ?>

    <?php endif; ?>
</div>

<?php echo $this->getProductListHtml() ?>
